body {  width: 40em;
        margin: 2em;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8em;
        font-family: Verdana, Arial, sans-serif;
}
img {   float: right;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        width: 18.75em; /* 18.75 * 2 + 1.5 = 40 */
}
h1 { color: #921; text-align: center; font-size: 1.6em; }
a:hover { background:#888; }
.blurb { font-weight: bold; }
.meta { color: grey; clear: both }
